@import "../../assets/stylesheets/variables";
@import "../../assets/stylesheets/breakpoints";

.hero {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: rgba(0, 0, 0, 0.45);

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: #000;
    background-image: url("../../assets/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__mouse {
    width: 2.7rem;
    height: 2.7rem;

    position: absolute;
    bottom: 13%;

    background-image: url("../../assets//images/mouse.svg");

    animation-name: mouse-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  &__title {
    color: $hero__title--color;
    font-size: 6rem;
    line-height: 1em;

    overflow: hidden;
    z-index: 1;

    & > span {
      display: inline-block;
    }
  }

  &__message {
    max-width: 90%;

    color: $hero__message--color;
    font-size: 1.7rem;

    overflow: hidden;
    z-index: 1;

    margin-top: 2.5rem;
  }

  &__transition {
    display: flex;

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    & > span {
      flex: 1;
      transform-origin: bottom;
      background-color: #000;
    }
  }

  @include breakpoint("small") {
    &__title {
      font-size: 6.7rem;
    }
    &__message {
      max-width: 90%;
    }
  }

  @include breakpoint("medium") {
    &__title {
      font-size: 7.5rem;
    }
    &__message {
      max-width: 68%;
    }
  }

  @include breakpoint("large") {
    &__title {
      font-size: 8.5rem;
    }
    &__message {
      max-width: 60%;
    }
  }

  @include breakpoint("xlarge") {
    &__message {
      max-width: 50%;
    }
  }

  user-select: none;
}

@keyframes mouse-animation {
  0% {
    transform: translateY(1.5rem);
  }

  50% {
    transform: translateY(3rem);
  }

  100% {
    transform: translateY(1.5rem);
  }
}
