$header-height: 6.5rem;
$footer-height: 6.5rem;

$header__nav--color: #fff;
$header__logo--color: #fff;

$hero__title--color: #fff;
$hero__message--color: #fff;

$footer__divider--color: rgba(0, 0, 0, 0.15);

$primary-color: #01021e;
$secondary-color: #0d1a48;
$text--color: rgb(31, 30, 30);
